body {
    width: 100%;
    height: 100vh;
    background: url(BGfull.png) center / cover no-repeat;
}

.navbar .logo img {
    width: 40px;
    border-radius: 50%;
}

.navbar .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}

.navbar {
    display: flex;
    padding: 15px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .link {
    display: flex;
    color: brown;
    list-style: none;
    gap: 35px;
}

.navbar .logo h2 {
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
}

.navbar .link a, .navbar .link .todo {
    color: rgb(83, 24, 24);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
}

.navbar .link .login_btn {
    border: none;
    outline: none;
    color:rgb(83, 24, 24);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
}

.navbar .link a:hover, .navbar .link .todo:hover {
    color: lightgrey;
}

.navbar .login_btn {
    border: none;
    outline: none;
    color:rgb(83, 24, 24);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    backdrop-filter: blur(3px);
    transition: 0.1s ease;
    pointer-events: none; /* Initially disable pointer events */ 
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: (-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup {
    position: fixed;
    background:url(popup.JPG);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    width: 100%;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    max-width: 330 px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    padding: 0 15px;
    outline: none;
    font-size: 0.95rem;
    border-radius: 3px;
    margin-left: -15px;
}

form .input-field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: gray;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    transform: translateY(-120%);
    font-size: 0.75rem;
    opacity: 0%;
}

.form-box .a {
    color: rgb(117, 77, 77);
    text-decoration: none;
}

.form-box :where(.forgot-pass, .policy-text) {
    display:inline-flex ;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button:hover {
    background: lightblue;
}

.form-box .bottom-link {
    text-align: center;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: grey;
    cursor: pointer;
}

.signup .policy-text {
    display: flex;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 20px;
}

.form-popup .signup, .form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }
    .form-box .form-details {
        display: none;
    }
    .form-box .form-content {
        padding: 30px 20px;
    }
}
